<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Sminmlc_Tickets>
            <version>1.0.0</version>
        </Sminmlc_Tickets>
    </modules>
    <global>
        <helpers>
            <sminmlc_tickets>
                <class>Sminmlc_Tickets_Helper</class>
            </sminmlc_tickets>
        </helpers>
        <models>
            <sminmlc_tickets>
                <class>Sminmlc_Tickets_Model</class>
            </sminmlc_tickets>
        </models>
        <blocks>
            <sminmlc_tickets>
                <class>Sminmlc_Tickets_Block</class>
            </sminmlc_tickets>
        </blocks>
    </global>
	<frontend>
        <routers>
            <sminmlc_tickets>
                <use>standard</use>
                <args>
                    <module>Sminmlc_Tickets</module>
                    <frontName>tickets</frontName>
                </args>
            </sminmlc_tickets>
        </routers>
		<layout>
			<updates>
				<sminmlc_tickets>
					<file>tickets.xml</file>
				</sminmlc_tickets>
			</updates>
		</layout>
    </frontend>
</config>
