<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Sminmlc_Webservices>
            <version>0.1.0</version>
        </Sminmlc_Webservices>
    </modules>
    <global>
        <helpers>
            <sminmlc_webservices>
                <class>Sminmlc_Webservices_Helper</class>
            </sminmlc_webservices>
        </helpers>
        <models>
            <sminmlc_webservices>
                <class>Sminmlc_Webservices_Model</class>
                <resourceModel>sminmlc_webservices_resource</resourceModel>
            </sminmlc_webservices>
            <sminmlc_webservices_resource>
                <class>Sminmlc_Webservices_Model_Resource</class>
                <entities>
                    <webservices>
                        <table>sminmlc_webservices_log_error</table>
                    </webservices>
                </entities>
            </sminmlc_webservices_resource>
        </models>
        <resources>
            <sminmlc_webservices_setup>
                <setup>
                    <module>Sminmlc_Webservices</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sminmlc_webservices_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <sminmlc_webservices>
                        <class>sminmlc_webservices/observer</class>
                        <method>exportOrderCcf</method>
                    </sminmlc_webservices>
                </observers>
            </sales_order_place_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <sminmlc_webservices>
                        <type>singleton</type>
                        <class>sminmlc_webservices/observer</class>
                        <method>updateOrderSuccessCcf</method>
                    </sminmlc_webservices>                    
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_onepage_controller_failure_action>
                <observers>
                    <sminmlc_webservices>
                        <type>singleton</type>
                        <class>sminmlc_webservices/observer</class>
                        <method>updateOrderFailureCcf</method>
                    </sminmlc_webservices>                    
                </observers>
            </checkout_onepage_controller_failure_action>
			<export_errors>
				<observers>
                    <sminmlc_webservices>
                        <class>sminmlc_webservices/observer</class>
                        <method>exportarWebserviceLog</method>
                    </sminmlc_webservices>                    
                </observers>
			</export_errors>	
        </events>
     <blocks>
          <sminmlc_webservices>
            <class>Sminmlc_Webservices_Block</class>
          </sminmlc_webservices>
        </blocks>
        <!-- FIN Block Tecnocom_Webservices -->
    </global>
    
    <!-- Enlace menú backend -->
    <admin>
        <routers>
            <adminhtml>
                <!--<use>admin</use> -->
                <args>
                    <!-- This is how we load our Adminhtml controllers -->
                    <modules>
                        <Sminmlc_Webservices before="Mage_Adminhtml">Sminmlc_Webservices_Adminhtml</Sminmlc_Webservices>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
     
    <adminhtml>
        <layout>
            <updates>
                <sminmlc_webservices>
                    <!--
                    We again keep a nice naming convention and make our module upgrade proof by placing it in a separate folder
                    - Since we are in the adminhtml node, this will look for the XML file in the app/design/adminhtml/default/default root folder
                    -->
                    <file>sminmlc/webservices.xml</file>
                </sminmlc_webservices>
            </updates>
        </layout>
    </adminhtml>
    <!-- FIN Enlace menú backend -->
    <!-- Cron exportarWebserviceLog -->
    <crontab>
        <jobs>
            <sminmlc_webservices>
                <schedule>
                    <cron_expr>* 7 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sminmlc_webservices/observer::exportarWebserviceLog</model>
                </run>
            </sminmlc_webservices>
        </jobs>
    </crontab>
    <!-- FIN Cron exportarWebserviceLog -->
</config>
