<?xml version="1.0"?>
<!--
/**
 * @author    Marc López - Sminmlc
 * @package     Sminmlc_TargetRule
 */
-->
<config>
    <modules>
        <Sminmlc_TargetRule>
            <version>1.11.0.0.5</version>
        </Sminmlc_TargetRule>
    </modules>
    <global>
        <models>
            <sminmlc_targetrule>
                <class>Sminmlc_TargetRule_Model</class>
                <resourceModel>sminmlc_targetrule_resource</resourceModel>
            </sminmlc_targetrule>
            <sminmlc_targetrule_resource>
                <class>Sminmlc_TargetRule_Model_Resource</class>
                <deprecatedNode>sminmlc_targetrule_mysql4</deprecatedNode>
                <entities>
                    <rule>
                        <table>sminmlc_targetrule</table>
                    </rule>
                    <customersegment>
                        <table>sminmlc_targetrule_customersegment</table>
                    </customersegment>
                    <product>
                        <table>sminmlc_targetrule_product</table>
                    </product>
                    <segment>
                        <table>sminmlc_targetrule_customersegment</table>
                    </segment>
                    <index>
                        <table>sminmlc_targetrule_index</table>
                    </index>
                    <index_related>
                        <table>sminmlc_targetrule_index_related</table>
                    </index_related>
                    <index_crosssell>
                        <table>sminmlc_targetrule_index_crosssell</table>
                    </index_crosssell>
                    <index_upsell>
                        <table>sminmlc_targetrule_index_upsell</table>
                    </index_upsell>
                    <index_related_product>
                        <table>sminmlc_targetrule_index_related_product</table>
                    </index_related_product>
                    <index_upsell_product>
                        <table>sminmlc_targetrule_index_upsell_product</table>
                    </index_upsell_product>
                    <index_crosssell_product>
                        <table>sminmlc_targetrule_index_crosssell_product</table>
                    </index_crosssell_product>
                </entities>
            </sminmlc_targetrule_resource>
        </models>
        <resources>
            <sminmlc_targetrule_setup>
                <setup>
                    <module>Sminmlc_TargetRule</module>
                    <class>Sminmlc_TargetRule_Model_Resource_Setup</class>
                </setup>
            </sminmlc_targetrule_setup>
        </resources>
        <blocks>
            <sminmlc_targetrule>
                <class>Sminmlc_TargetRule_Block</class>
            </sminmlc_targetrule>
        </blocks>
        <helpers>
            <sminmlc_targetrule>
                <class>Sminmlc_TargetRule_Helper</class>
            </sminmlc_targetrule>
        </helpers>
        <catalog_product>
            <old_fields_map>
                <related_targetrule_position_limit>related_tgtr_position_limit</related_targetrule_position_limit>
                <related_targetrule_position_behavior>related_tgtr_position_behavior</related_targetrule_position_behavior>
                <upsell_targetrule_position_limit>upsell_tgtr_position_limit</upsell_targetrule_position_limit>
                <upsell_targetrule_position_behavior>upsell_tgtr_position_behavior</upsell_targetrule_position_behavior>
            </old_fields_map>
        </catalog_product>
        <index>
            <indexer>
                <targetrule>
                    <model>sminmlc_targetrule/index</model>
                </targetrule>
            </indexer>
        </index>
    </global>
    <adminhtml>
        <events>
            <catalog_product_save_commit_after>
                <observers>
                    <sminmlc_targetrule>
                        <class>sminmlc_targetrule/observer</class>
                        <method>catalogProductSaveCommitAfter</method>
                    </sminmlc_targetrule>
                </observers>
            </catalog_product_save_commit_after>
            <core_config_data_save_commit_after>
                <observers>
                    <sminmlc_targetrule>
                        <class>sminmlc_targetrule/observer</class>
                        <method>coreConfigSaveCommitAfter</method>
                    </sminmlc_targetrule>
                </observers>
            </core_config_data_save_commit_after>
        </events>
        <translate>
            <modules>
                <Sminmlc_TargetRule>
                    <files>
                        <default>Sminmlc_TargetRule.csv</default>
                    </files>
                </Sminmlc_TargetRule>
            </modules>
        </translate>
        <layout>
            <updates>
                <sminmlc_targetrule>
                    <file>sminmlc/targetrule.xml</file>
                </sminmlc_targetrule>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Sminmlc_TargetRule before="Mage_Adminhtml">Sminmlc_TargetRule_Adminhtml</Sminmlc_TargetRule>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <sminmlc_targetrule module="Sminmlc_TargetRule">
                    <file>targetrule.xml</file>
                </sminmlc_targetrule>
            </updates>
        </layout>
    </frontend>
    <default>
        <catalog>
            <sminmlc_targetrule>
                <related_position_limit>6</related_position_limit>
                <related_position_behavior>0</related_position_behavior>
                <related_rotation_mode>0</related_rotation_mode>
                <crosssell_position_limit>5</crosssell_position_limit>
                <crosssell_position_behavior>0</crosssell_position_behavior>
                <crosssell_rotation_mode>0</crosssell_rotation_mode>
                <upsell_position_limit>8</upsell_position_limit>
                <upsell_position_behavior>0</upsell_position_behavior>
                <upsell_rotation_mode>0</upsell_rotation_mode>
            </sminmlc_targetrule>
        </catalog>
    </default>
    <crontab>
        <jobs>
            <sminmlc_targetrule_index_reindex>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>sminmlc_targetrule/index::cron</model>
                </run>
            </sminmlc_targetrule_index_reindex>
        </jobs>
    </crontab>
</config>
